.header {
    background-color: #1e3a8a;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* height:30px ; */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-item:hover {
    color: #60a5fa;
  }
  
  